img {
  width: 350px;
  border: 5px solid #c59d5f;
  height: 190px;
}
.image-content {
  margin-left: 50px;
  margin-right: 50px;
}

.image-info {
  display: flex;
}
.image-name {
  color: #102a42;
}
.image-price {
  margin-left: 200px;
  color: #c59d5f;
}
.image-text {
  color: #617d98;
  margin-right: 50px;
  font-size: 15px;
}
.image-container {
  margin-top: 70px;
}
@media screen and (min-width: 660px) {
  .image-info {
    float: right;
    margin-right: 500px;
  }
}
